@font-face {
  font-family: 'blackchanceryregular';
  src: url('../fonts/blkchcry-webfont.woff2') format('woff2'),
        url('../fonts/blkchcry-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}